@import url('../fonts/ProximaNova/stylesheet.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    min-width: 1170px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.top{
    background: radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-width: 1170px;
}
.header{
    display: flex;
    width: 1170px;
    min-width: 1170px;
    flex-flow: row wrap;
    justify-content: space-between;
}
.header__logo-div{
    display: flex;
}
.header__phone-div{
    display: flex;
}
.logo{
    padding-top: 45px;
}
.logo__name{
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 50px;
}
.line{
    padding-top: 46px;
}
.line__elem{
    height: 14px;
    width: 1px;
    background-color: #A9C5E0;
}
.text{
    font-family: "Proxima Nova Rg", serif;
}
.header__text{
    padding-left: 30px;
    padding-top: 43px;
    color: #A9C5E0;
    font-size: 13px;
    line-height: 21px;
}
.phone{
    display: flex;
    padding-right: 78px;
}
.phone__img{
    height: 14px;
    width: 14px;
    padding-top: 46px;
    padding-right: 12px;
}
.phone__text{
    padding-top: 43px;
    font-size: 13px;
    line-height: 24px;
    color: #A9C5E0;
}
.header__button{
    padding-top: 27px;
}
.header__button-elem{
    outline: none;
    width: 170px;
    height: 52px;
    border: 1px solid #E5E31F;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 10px;
    color: #E5E31F;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.header__button-elem:hover{
    background-color: #E5E31F;
    color: #376A9A;
    transition: 0.5s;
}

.slider{
    display: flex;
    height: 639px;
    width: 1170px;
    min-width: 1170px;
    justify-content: center;
}
.slide1, .slide2{
    display: flex;
    position: absolute;
    overflow: visible;
    z-index: 1000;
    transition: opacity 500ms linear 0s;
    opacity: 1;
    width: 1170px;
    min-width: 1170px;
}
.slider__text{
    padding-top: 183px;
    width: 660px;
}
.slider__h1{
    width: 660px;
    font-size: 64px;
    line-height: 64px;
    color: #ffffff;
    margin-bottom: 18px;
    font-weight: bold;
}
.slider__p{
    width: 500px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 87px;
}
.slider__button{
    background-color:#E5E31F;
    width: 240px;
    height: 52px;
    border: 1px solid #E5E31F;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #2a4f71;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-weight: bolder;
    outline: none;
}
.slider__button:hover{
    background-color: transparent;
    color: #E5E31F;
    transition: 0.5s;
}
.slider__image{
    padding-top: 27px;
}
.slider__image2{
    padding-top: 64px;
}
.dots{
    display: flex;
    position: absolute;
    z-index: 1002;
    align-self: flex-end;
    padding-bottom: 32px;
}
.dots__dot{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #264160;
    position: relative;
    margin: 0 4px;
    padding: 3px;
}
.dots__dot-active{
    width: 8px;
    height: 8px;
    background-color: #346491;
    border-radius: 3px;
}
.invisible{
    transition: opacity 500ms linear 0s;
    z-index: 998;
    opacity: 0;
}
.main{
    min-width: 1170px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
}
.main__head{
    color: #2A496B;
    font-weight: bolder;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    padding-top: 96px;
}
.blocks{
    padding-top: 143px;
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    min-width: 1170px;
    align-items: center;
    justify-content: center;
    padding-bottom: 29px;
}
.block{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #000000;
    width: 370px;
    padding-bottom: 111px;
}
.block__image{
    height: 59px;
 }
.block__span{
    padding-top: 36px;
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
}
.block__text{
    font-size: 15px;
    line-height: 19px;
}

.footer{
    min-width: 1170px;
    display: flex;
    background-color: #23415E;
    align-items: center;
    justify-content: space-around;
}
.content{
    width: 1170px;
    min-width: 1170px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content__logo{
    padding-top: 96px;
}
.footer__text{
    display: flex;
}

.links{
    display: flex;
    width: 370px;
    padding-right: 230px;
}
.list{
    padding-top: 89px;
    padding-bottom: 87px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 170px;
}
.list__link{
    width: 100%;
    color: white;
    font-size: 15px;
    line-height: 36px;
    text-decoration: none;
}
.list__link:hover{
    color:#E5E31F;
    transition: 0.5s;
}
.contacts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.list__text{
    width: 100%;
    color: #A9C5E0;
    font-size: 15px;
    line-height: 19px;
    /*padding-top: 9px;*/
    /*padding-bottom: 11px;*/
}
.overlay {
    background-color: rgba(0,0,0,0.8);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1010;
}
.login-wrapper {
    align-self: center;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 30px;
    width: 500px;
    height: 410px;
}
.login-content {
    position: relative;
}
.login-content__text{
    width: 430px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-top: 34px;
    color: #000000;
 }
.login-content__h3 {
    font-size: 38px;
    line-height: 46px;
    font-weight: 800;
    padding-bottom: 18px;
}
.login-content__span{
    font-size: 16px;
    line-height: 24px;
}
.close {
    position: absolute;
    transition: all 400ms ease;
    right: 0;
}
.close:hover {
    cursor: pointer;
}
.login-content__form{
    padding-left: 40px;
}
.login-content__input{
    background-color: #ffffff;
    border: 1px solid #23415E;
    border-radius: 6px;
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    padding: 14px 16px 14px 16px;
    transition: all 400ms ease;
    height: 18px;
    width: 396px;
    outline: none;
    margin-bottom: 8px;
}
.login-content__input::placeholder{
    color: #D0C9D6;
}
.login-content__input:invalid:focus {
    border-color: #F84242;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 8px #F84242;
}
.login-content__button{
    outline: none;
    width: 430px;
    height: 52px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    color: #2a4f71;
    text-align: center;
    margin-top: 42px ;
    background-color: #E5E31F;
    border-radius: 10px;
    border: 2px solid #E5E31F;
}
.login-content__button:hover{
    background-color: transparent;
    transition: 0.5s;
}
@media screen and (max-width: 1290px){
    .slide2{
        overflow: hidden;
    }
}
@media screen and (max-width: 768px) {
    .header, .slider, .slide1, .slide2, .blocks, .content{
        width: 738px;
        min-width: 738px;
    }
    body, .top, .main,.footer{
        min-width: 738px;
    }
    .slider__image, .slider__image2, .slider__button{
        display: none;
    }
    .header__phone-div{
        flex-wrap: wrap-reverse;
        width: 170px;
    }
    .phone{
        width: 170px;
        justify-content: flex-end;
        padding: 0;
        height: 53px;
    }
    .phone__img{
        padding-right: 8px;
        padding-top: 36px;
    }
    .phone__text{
        padding-top: 32px;
    }
    .slider{
        height: 586px;
    }
    .slider__text{
        padding-top: 130px;
        width: 738px;
    }
    .blocks{
        padding-top: 146px;
        padding-bottom: 0;
    }
    .block{
        width: 363px;
        padding-bottom: 96px;
    }
    .footer__text{
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 89px;
        width: 488px;
    }
    .links{
        padding-right: 118px;
        justify-content: space-around;
    }
    .list{
        padding-bottom: 0;
    }
    .contacts{
        padding-top: 96px;
        justify-self: flex-start;
        height: 133px;
    }

}
@media screen and (max-width: 425px) {
    .header, .slider, .slide1, .slide2, .blocks, .content{
        width: 345px;
        min-width: 345px;
    }
    body, .top, .main,.footer{
        min-width: 345px;
    }
    .slider__image, .slider__image2, .line, .header__text, .phone{
        display: none;
    }
    .slider{
        height: 639px;
    }
    .slider__text{
        padding-top: 130px;
        width: 345px;
    }
    .slider__h1{
        font-size: 38px;
        line-height: 46px;
        width: 345px;
    }
    .slider__p{
        width: 343px;
        margin-bottom: 63px;
    }
    .slider__button{
        display: block;
        width: 345px;
    }
    .blocks{
        padding-top: 146px;
        padding-bottom: 36px;
    }
    .block{
        width: 345px;
        padding-bottom: 64px;
    }
    .content{
        flex-wrap: wrap;
    }
    .footer__text{
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 89px;
        padding-top: 64px;
        width: 345px;
    }
    .links{
        padding-right: 71px;
        justify-content: space-around;
    }
    .list{
        width: 132px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .contacts{
        width: 170px;
        padding-top: 64px;
        justify-self: flex-start;
        height: 133px;
    }
    .login-wrapper{
        width: 345px;
        padding: 36px 15px;
    }
    .login-content__text{
        width: 345px;
        padding-left: 0;
        padding-bottom: 24px;
    }
    .login-content__form{
        padding-left: 0;
    }
    .login-content__input{
        width: 311px;
    }
    .login-content__button{
        width: 345px;
    }
}